language: ruby

rvm:
  - 1.9.3

branches:
 only:
 - master

notifications:
 email: false

sudo: false

addons:
  apt:
    packages:
      - libvirt-dev
      - libxml2-dev
      - libxslt1-dev
      - ruby-dev
      - libmysqld-dev
      - libpq-dev
      - postgresql
      - postgresql-contrib

install: ./.travis.sh install

before_script: ./.travis.sh migrate

script:
 - cd ../foreman
 - rake test:fusor
